.UserDetailPage {
  .UserDetailPage__Container {
    display: flex;
    flex-direction: column;

    .UserDetailPage__Container__Row {
      display: flex;
      flex-direction: row;
      margin: 0.5em 1em;

      > * {
        margin-right: 1em;
        flex-grow: 1;

        input.p-inputtext,
        div.p-password,
        div.p-password > * {
          width: 100%;
        }
      }
    }
  }
}
