.NavBar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 5em;

  .NavBar__Container {
    width: 60em;
    /* background-color: var(--main-theme-color); */
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      var(--main-theme-color) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;

    .NavBar__Container__Left,
    .NavBar__Container__Right {
      display: flex;

      .NavBar__Item {
        margin: 0 1em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        .p-badge {
          position: absolute;
          transform: translate(-18px, -20px);
        }
      }
    }
  }
}
