.ProductOverviewPage {
  width: 60em;
  height: 100%;
  background-color: rgb(230, 230, 255);

  &__Item {
    background-color: white;
    width: 14em;
    margin: 0.5em;
    padding: 1em;
    border-radius: 5px;
  }

  .grid {
    display: flex;
    flex-flow: row wrap;
  }

  .p-dataview-content {
    background: unset;
  }
}
