.ProductOverviewPage {
  width: 100%;
  height: 100%;
  background-color: white;

  .ProductOverviewPage__Toolbar {
    width: 100%;

    .p-dropdown {
      width: 12em;
    }

    & > * {
      margin-right: 0.75em;
    }
  }

  &__ItemWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 5px;
    /* height: 25em; */
  }

  .grid {
    display: flex;
    flex-flow: row wrap;
  }

  .p-dataview-content {
    background: unset;
  }
}
