.ProductOverviewItem {
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;

  &__Image {
    height: 100%;

    img {
      width: 100%;
    }
  }

  &__Info {
  }
}
