#root:has(.ProductDetailPage) {
  height: 100%;
}

.ProductDetailPage {
  width: 100%;
  height: 100%;
  background-color: white;

  &__Container {
    display: flex;
    flex-direction: column;

    .ProductDetailPage__Container__Row {
      padding: 2em;
    }

    .Overview {
      display: flex;
      flex-direction: row;

      & > * {
        margin: 0 1em;
      }

      & .ProductDetailPage__Container__Row__Image {
        width: 50%;

        > img {
          width: 100%;
        }
      }

      & .ProductDetailPage__Container__Row__Info {
        width: 50%;
        display: flex;
        flex-direction: column;

        > * {
          margin: 0.25em 0;
        }

        .stock-low {
          color: red;
        }

        .stock-normal {
          color: green;
        }

        .p-rating-item-active .p-rating-icon {
          color: #f0bb00;
        }
      }
    }

    .Description {
      padding-top: unset;
      padding-bottom: unset;
    }
  }
}
